################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Labs/v16
/Debug
/Lab1/Debug
/Lab2/Debug
